<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/">AI-algorithms</a>
    </div>
  </div>
</nav>