<div class="row">
  <div id="plot" class="col-xs-12 col-md-8"></div>
  <div id="io" class="col-xs-6 col-md-4">
      <div id="input" class="col-xs-12 col-md-12"></div>
      <div id="output" class="col-xs-12 col-md-12"></div>
  </div>
</div>